<!-- pi-component works! -->
<div class="container">
<p>
Nombre: 
Nestor Javier Solera Ayala<br/>
<br/>
Correo✉:
ness.cero1@gmail.com<br/><br/>
Acerca de mi:
Tengo 2 años de experiencia como desarrollador web<br/>
5 trabajando como programador, graduado como lic-<br/>
enciado en informática y medio audiovisuales.<br/>
Actualmente soy desarrollador web<br/>
freelance desde el Front-end. También se ustilizar C#,<br/>
Javascript y Typescript . Adicional a esto tengo<br/>
experiencia como Dev-game usando Unity3D<br/><br/>
Github📂:
https://github.com/NessDisk<br/>

</p>
</div>