<!-- index
     https://bbbootstrap.com/snippets/simple-contact-form-74408136 

-->

<div class="container">
    <div class=" text-center mt-5 ">

        <h1 >Create client</h1>
            
        
    </div>


<div class="row ">
  <div class="col-lg-7 mx-auto">
    <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
   
        <div class = "container">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">       

        <div class="controls">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_type_client">id_Type *</label>
                        <select id="form_type_client"
                                name="form_id_Type"
                                class="form-control"
                                required="required"
                                [(ngModel)]="id_Type"
                                data-error="Please specify your need.">
                            <option value="" selected disabled>--Select IdType--</option>
                            <option >CC </option>
                            <option >Nit </option>
                            <option >VIsa </option>
                        </select>                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label  for="idNum">IdNum *</label>
                        <input  id="idNum"
                                type="text"
                                name="idNum"
                                class="form-control"
                                [(ngModel)]="idNum"
                                placeholder="Please enter IdNum *"
                                required="required"
                                data-error="idNum is required.">
                                                        </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label  for="fisrtName">fisrtName *</label>
                        <input  id="fisrtName"
                                type="text"
                                name="fisrtName"
                                class="form-control"
                                [(ngModel)]="fisrtName"
                                placeholder="Please enter the fisrtName *"
                                required="required"
                                data-error="fisrtName is required.">
                    </div>
                </div>
               
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastName">lastName *</label>
                        <input id="lastName"
                               type="text" 
                               name="lastName" 
                               class="form-control" 
                               [(ngModel)]="lastName"
                               placeholder="Please enter the lastName*" 
                               required="required" 
                               data-error="Valid lastName is required.">
                        
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">email *</label>
                        <input  id="email"
                                type="email"
                                name="email" 
                                class="form-control"
                                [(ngModel)]="email"
                                placeholder="Please enter your email *"   
                                required="required"                              
                                data-error="Valid email is required.">
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label  for="birthdate">birthdate *</label>
                        <input  id="birthdate"
                                type="date"
                                name="birthdate" 
                                class="form-control" 
                                [(ngModel)]="birthdate"
                                placeholder="Please enter the birthdate *" 
                                required="required" 
                                data-error="birthdate is required.">
                        
                    </div>
                </div>
            </div>

           
            
            
            <br/>
            <div class="row">
             


                <div class="col-md-7">
                    
                
                <button class="btn btn-success w-100" [disabled]="!f.valid">Creste client</button>
            </div>
        </div>
    </div>
    </form>
    
</div>
</div>
</div>
</div>
</div>
</div>
