<!-- index
     https://bbbootstrap.com/snippets/simple-contact-form-74408136 

-->

<div class="container">
    <div class=" text-center mt-5 ">

        <h1 >Create client</h1>
            
        
    </div>


<div class="row ">
  <div class="col-lg-7 mx-auto">
    <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
   
        <div class = "container">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">       

        <div class="controls">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label  for="nombres">First Name *</label>
                        <input  id="nombres"
                                type="text"
                                name="nombres"
                                class="form-control"
                                [(ngModel)]="nombres"
                                placeholder="Please enter your firstname *"
                                required="required"
                                data-error="Firstname is required.">
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label  for="apellido">Last name *</label>
                        <input  id="apellido"
                                type="text"
                                name="apellido"
                                class="form-control"
                                [(ngModel)]="apellido"
                                placeholder="Please enter your lastname *"
                                required="required"
                                data-error="Lastname is required.">
                                                        </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_type_client">type *</label>
                        <select id="form_type_client"
                                name="form_type_client"
                                class="form-control"
                                required="required"
                                [(ngModel)]="Tipo"
                                data-error="Please specify your need.">
                            <option value="" selected disabled>--Select client Type--</option>
                            <option >DEBITO </option>                           
                        </select>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="CC">Card ID *</label>
                        <input id="CC"
                               type="number" 
                               name="CC" 
                               class="form-control" 
                               [(ngModel)]="CC"
                               placeholder="Please enter the card_ID*" 
                               required="required" 
                               data-error="Valid card_ID is required.">
                        
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="birDate">Bird date *</label>
                        <input  id="birDate"
                                type="date"
                                name="birDate" 
                                class="form-control"
                                [(ngModel)]="birDate"
                                placeholder="Please enter your email *"
                                
                                data-error="Valid email is required.">
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label  for="age">Age *</label>
                        <input  id="age"
                                type="number"
                                name="age" 
                                class="form-control" 
                                [(ngModel)]="age"
                                placeholder="Please enter your email *" 
                                required="required" 
                                data-error="Valid email is required.">
                        
                    </div>
                </div>
            </div>

            <!-- 
                <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_email">Date *</label>
                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                        
                    </div>
                </div>
               
            </div> -->
            
            
            <br/>
            <div class="row">
             


                <div class="col-md-7">
                    
                    <!-- <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                        " value="Send Message" > -->
                <button class="btn btn-success w-100" [disabled]="!f.valid">Creste client</button>
            </div>
        </div>
    </div>
    </form>
    
</div>
</div>
</div>
</div>
</div>
</div>
